# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

/Matrices/x64/Debug
/Matrices/release
/Matrices/Matrices.vcxproj.user
/Matrices/Matrices.vcxproj.filters
/Matrices/Matrices.vcxproj
/Matrices/debug
/Matrices/.vs/Matrices/v15
/Matrices/.qmake.stash
/.vs
/Matrices/x64/Debug
/Matrices/release
/Matrices/Matrices.vcxproj.user
/Matrices/Matrices.vcxproj.filters
/Matrices/Matrices.vcxproj
/Matrices/debug
/Matrices/.vs/Matrices/v15
/Matrices/.qmake.stash
/.vs
/Matrices/.qmake.stash
*.vcxproj
/Matrices/Matrices.sln
/Matrices/mathjax_files
#/Matrices/html
/Matrices/deploy
/MatrixTest/x64/Release
/MatrixTest/targetver.h
/MatrixTest/stdafx.h
/MatrixTest/stdafx.cpp
/MatrixTest/ReadMe.txt
/MatrixTest/MatrixTest.vcxproj.filters
/Matrices/x64/Release
/x64/Release/MatrixTest.log
/MatrixTest/x64/Debug
/MatrixTest/Debug
/Matrices/texlive/ops1.pdf
/Matrices/texlive/ops1.log
/Matrices/texlive/ops1.aux
/Matrices/texlive/ops2.pdf
/Matrices/texlive/ops2.log
/Matrices/texlive/ops2.aux
